.wd-bookmark-top{
  margin-top: 12px;
}
.wd-bookmark-size{
  font-size: 20px;
}
.wd-bookmark-left{
  margin-left: 16px;
}
.wd-gray{
  color: rgb(110,118,125);
}
.wd-dot-blue{
  color: cornflowerblue;
  text-align: right;
  margin-right: 16px;
}